* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#mainContainer {
    margin: auto;
    width: 85%;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #878787;
}
/*  style header */
.debug header {
    height: 80px;
}

header .logo img {
    width: 200px;;
}

header nav ul {
    list-style-type: none;
    padding-top: 32px;
    color: #878787;
}

header nav li {
    display: inline-block;
    padding-right: 13px;
}
/*  / style header */

/* sezione IMMAGINE */
.debug main #bloccoImmagine {
    height: 349px;
}

main #bloccoImmagine {
    background-image: url("./img/banner.jpg");
    width: 100%;
    margin-top: 2rem;
    height: 462px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
}

#bloccoImmagine .cover {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 13px;
    position: relative;
}

#bloccoImmagine .cover p {
    color: white;
    opacity: 1;
    position: absolute;
    bottom: 60px;
    left: 47px;
    font-size: 28px;
    width: 50%;
}

#bloccoImmagine .cover p span {
    display: block;
    font-size: 16px;
}
/* / sezione IMMAGINE */

/* BLOCCO A COLONNE */
#bloccoColonne {
    padding-bottom: 1rem;
} 

/* TITOLO */
.debug #bloccoColonne .title {
    height: 80px;
}

#bloccoColonne .title {
    margin-top: 2rem;
}

#bloccoColonne .title h1 {
    font-size: 39px;
}

#bloccoColonne .title p {
    color: #878787;
}
/* / TITOLO */

/* SIDEBAR LEFT*/
.debug #bloccoColonne .sidebarLeft, .debug #bloccoColonne .sidebarRight {
    height: 500px;
}

#bloccoColonne .sidebarLeft, #bloccoColonne .sidebarRight {
    width: calc(25% - 10px);
    float: left;
    margin-top: 2rem;
}

#bloccoColonne .sidebarLeft .img {
    background-image: url("./img/img-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 238px;
    width: 100%;
    margin-bottom: 1.5rem;
}
    

#bloccoColonne .sidebarLeft h3 {
    margin-bottom: 0.5rem;
    font-size: 16px;
}

#bloccoColonne .sidebarLeft .cover {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    border-radius: 13px;
}
/* / SIDEBAR LEFT*/

/* MAINCONTENT */
.debug #bloccoColonne .mainContent {
    height: 500px;
}

#bloccoColonne .mainContent {
    background-color: #ABCFE7;
    float: left;
    width: 50%;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
/*  / MAINCONTENT */

/* SIDEBAR RIGHT */
#bloccoColonne .sidebarRight .img {
    background-image: url("./img/img-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 238px;
    width: 100%;
    margin-bottom: 1.5rem;
}

#bloccoColonne .sidebarRight .cover {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    border-radius: 13px;
}
/* / SIDEBAR RIGHT */
/* / BLOCCO A COLONNE */

/* FOOTER */
.debug footer {
    height: 80px;
}

footer {
    background-color: #8801FE;
    margin-top: 0.5rem;
}
/* / FOOTER */